.ipynb_checkpoints/*
__pycache__/*
*.csv
*/.ipynb_checkpoints/*
02-dynamic-routes.ipynb
elife-71356-v2.pdf
docs/build/*
BRAD/__pycache__/*
docs/source/tutorials/
BRAD/config/config.json
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
BRAD/config/config.json
docs/source/.ipynb_checkpoints/conf-checkpoint.py
