.ipynb_checkpoints/*
__pycache__/*
*.csv
*/.ipynb_checkpoints/*
02-dynamic-routes.ipynb
elife-71356-v2.pdf
docs/build/*
BRAD/__pycache__/*
BRAD/config/config.json
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
BRAD/config/config.json
docs/source/.ipynb_checkpoints/conf-checkpoint.py
*.out
BRAD/config/config.json
BRAD/BRAD_Chat.egg-info/
tutorials/planner/GRCh38.p13.tsv
tutorials/planner/HWG.mat
tutorials/planner/specialized_docs/
dist/*
*.png
