beautifulsoup4==4.12.3
chromadb==0.5.0
ipython
langchain==0.3.1
langchain_chroma
langchain_community
langchain_core
langchain_nvidia_ai_endpoints
langchain_text_splitters
Requests
torch>=2.0.1
transformers
gget==0.28.6
semantic-router==0.0.46
scipy
seaborn
cohere==5.9.0
lxml_html_clean
biopython
scikit-learn
scipy
matplotlib
sentence-transformers
tabulate
langchain_openai
requests_html
flask
pydantic==2.9.2
