sphinx_rtd_theme
nbsphinx
nltk==3.8.1
pandas
mock
numpy
IPython
importlib
textwrap
scipy
itertools
datetime
string
warnings
re
json
logging
gget
matplotlib
seaborn
chroma
semantic_router.layer
langchain_nvidia_ai_endpoints
requests
requests_html
json
csv
