
body {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1e1f26;
  font-family: 'Helvetica';
}

#root {
  width: 100vw;
  height: 100vh;
}

.App-header {
  font-size: 1em;
  width: 100%;
  color: #e6f2ff;
  align-items: center;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  /* width: 100%; */
  height: 100%;
  overflow: scroll;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-sidebar {
  /* Set the background color of the sidebar to black */
  background-color: #000000;  
  /* Set the text color to white */
  color: #FFFFFF;  
  /* Optionally, set padding for inner spacing */
  padding: 10px;  
  /* Set font size (optional) */
  font-size: 16px;  
  /* Set the width of the sidebar (optional) */
  width: 250px;    
  /* Add a border (optional, for aesthetics) */
  border: 1px solid #FFFFFF;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 1.3em;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  padding: 1em;
  min-width: 2em;
}

.message.user {
  background-color: #baa896;
  opacity: 0.8;
  align-self: flex-end;
}

.message.bot {
  background-color: #e6ccb5;
  align-self: flex-start;
  text-align: left;
}

.message-input {
  width: 50%;
  display: flex;
  padding: 1.5em;
}

.message-input input {
  background-color: #f4ebdb;
  padding: 1em;
  border-radius: 15px;
  font-size: 1em;
  margin-right: 0.75em;
  flex: 1;
}

.message-input button {
  background-color: #f4ebdb;
  padding: 5px 10px;
  font-size: 1.5em;
  border-radius: 30%;
}

/* .message-list code {
  overflow-y: auto;
  text-wrap: ;
} */


/* Code Block styling with highlightjs */
pre {
  white-space: pre-wrap;      
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap;     
  white-space: -o-pre-wrap;   
  word-wrap: break-word;      
}

pre > code {
  text-align: left;
}

.rag-file-upload {
  border: 10px #f4ebdb;
  background-color: #f4ebdb;
}